.resizable {
  border: 1px solid lightgrey;
  touch-action: none;
  user-select: none;
  display: grid;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  right: 0;
  bottom: 0;
}

.hide{
  visibility: hidden;
}

