.nav{
  padding: 1rem;
  background: darkgrey;
}


#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 600px;
  background-color: #eee;
  touch-action: manipulation;
  overflow: hidden;
}

.canvasElement{
  position: absolute;
  margin: 3em;
  box-sizing: border-box;
}

.resizable {
  border: 2px solid blue;
  touch-action: none;
  user-select: none;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  right: 0;
  bottom: 0;
}

.hide{
  visibility: hidden;
}

