.box{
  margin: 1rem;
  padding: 0;
  min-height: 18px;
  min-width: 18px;
  height: 300px;
  width: 300px;
  background-color: aqua;
}

.resizable{
  cursor: default;
  position: relative;
}

.draggable{
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}

.resizable{
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}



