
.resizable {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #aaf;
  padding: 1em;
  border-radius: 5px;
  margin: 3em;
  
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
}

.resize-handle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  right: 0;
  bottom: 0;
}


#resize-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  touch-action: manipulation;
}